<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   
    <link rel="stylesheet" href="/css/wishlistStyle.css">

    
</head>
<body>
    
<!-- header section starts  -->

<header class="header">

  <section class="header-1">

      <a href="/" class="logo"> <i class="fas fa-book"></i> READy </a>

      <form action="" class="search-form">
          <input type="search" name="" placeholder="search here..." id="search-box">
          <label for="search-box" class="fas fa-search"></label>
      </form>

      <div class="icons">
          <div id="search-btn" class="fas fa-search"></div>
          <a href="wishlist" class="fas fa-heart"></a>
          <a href="cart" class="fas fa-shopping-cart"></a>
          <a id="login-btn" class="fas fa-user" href="login"></a>
      </div>

  </section>

  <div class="header-2">
      <nav class="navbar">

        <a href="/">HOME</a>
        <a href="/">ABOUT US</a>
        <a href="books">BOOKS</a>
        <a href="/">NEW REALSES</a>
        <a href="/">BEST SALES</a>
        <a href="contactUs">CONTACT US</a>
      </nav>
  </div>

</header>

<!-- header section ends -->

<!-- cart section starts -->

  <div class="container">
    <h1>Wishlist</h1>
    <hr class="hr-content">
    <div class="cart-items">
      <div class="cart-item">
        <div class="cart-item-image"><img src="https://via.placeholder.com/150x150.png" alt="Product Image"></div>
        <div class="cart-item-info">
          <p class="cart-item-name">Product Name</p>
          <p class="cart-item-price">$10</p>
          <div class="cart-item-remove"><div class="cart-item-remove"><button class="remove-btn">Remove From Wishlist</button></div>
          </div>
        </div>
        <div class="cart-item-move"><button class="move-btn">Move to Cart</button></div>
      </div>
      
      <div class="cart-item">
        <div class="cart-item-image"><img src="https://via.placeholder.com/150x150.png" alt="Product Image"></div>
        <div class="cart-item-info">
          <p class="cart-item-name">Product Name</p>
          <p class="cart-item-price">$20</p>
          <div class="cart-item-remove"><div class="cart-item-remove"><button class="remove-btn">Remove From Wishlist</button></div>
          </div>
        </div>
        <div class="cart-item-move"><button class="move-btn">Move to Cart</button></div>
      </div>
    <hr class="hr-content">

    </div>
  </div>

<!-- cart section ends  -->

<!-- footer section starts  -->

<section class="footer">


    <div class="credit"> created by <span>SWE363 Students</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->


<!-- custom js file link  -->
<script src="/js/wishlistScript.js"></script>

</body>
</html>